**/*.iml
**/*.py[cod]
README.md
/venv/
/docs/
.idea/
.eclipse/
.vscode/
.coverage
Dockerfile
Jenkinsfile
.scannerwork
sonar-project.properties
gunicorn.conf.py
cloudbuild.yaml
__pycache__
coverage-reports
lib
.pytest_cache
.git
node_modules
dist
vendor
*.jar